

.open-sans-normal-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Common style */
.bg-secondary{
    background-color: #FFF8F3;
}
.text-primary{
    color: rgb(253, 110, 10);
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}
.section-description{
    font-size: 18px;
    color: rgb(117, 117, 117);
}
.bg-white{
    background-color: white;
}

/* styles of header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* styles of navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;

}
nav li a{
  text-decoration: none; 
  font-size: 20px;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 0 150px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
    margin: 0px;

}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin: 0px;
}
.banner-description{
    font-size: 18px;
    margin: 0 0 30px 0;
}
.banner-pp{
   width: 580px; 
}
.banner-btn{
    margin-right: 20px;
}
/* style of main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* style of about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;

}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 0;

}
.about-item{
    margin-right: 20px;
}
.item-description{
    font-size: 20px;
    font-weight: 700;
}